<div class="bg-light border-end" id="sidebar-wrapper" style="min-width: 250px; min-height: 100vh;">
    <div class="sidebar-heading text-center py-4 text-primary fs-4 fw-bold">Menu Pelanggan</div>
    <div class="list-group list-group-flush">
        <a href="/user/dashboard" class="list-group-item list-group-item-action bg-light"><i class="fa-solid fa-gauge me-2"></i> Dashboard</a>
        <a href="/user/layanan" class="list-group-item list-group-item-action bg-light"><i class="fa-solid fa-broom me-2"></i> Layanan</a>
        <a href="/user/proses" class="list-group-item list-group-item-action bg-light"><i class="fa-solid fa-spinner me-2"></i> Proses Layanan</a>
        <a href="/user/history" class="list-group-item list-group-item-action bg-light"><i class="fa-solid fa-clock-rotate-left me-2"></i> Riwayat Pembelian</a>
        <a href="/logout" class="list-group-item list-group-item-action bg-light text-danger"><i class="fa-solid fa-right-from-bracket me-2"></i> Keluar</a>
    </div>
</div>