<div class="bg-dark text-white border-end" id="sidebar-wrapper" style="min-width: 250px; min-height: 100vh;">
    <div class="sidebar-heading text-center py-4 text-warning fs-4 fw-bold">Menu Admin/Pekerja</div>
    <div class="list-group list-group-flush">
        <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-clipboard-list me-2"></i> Orderan Masuk</a>
        <a href="/admin/riwayat" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-check-double me-2"></i> Pekerjaan Selesai</a>
        <a href="/logout" class="list-group-item list-group-item-action bg-dark text-danger"><i class="fa-solid fa-right-from-bracket me-2"></i> Keluar</a>
    </div>
</div>